h1{
    text-align:center;
    font-family:monospace;
    color: beige;

}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    
  }
  
  .bouncing-ball {
    width: 50px;
    height: 50px;
    background-color:plum;
    border-radius: 50%;
    position: absolute;
    animation: bounce 3s ease-in-out infinite;
    bottom:0;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-500px);
    }
    100% {
      transform: translateY(0);
    }
  }